/**
*
* СТИЛИ ОСНОВННЫХ БЛОКОВ СТРАНИЦЫ
*
*/
.sort-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 0 0;
    height: 100%;
    width: 100%;
    color: #333;
    font: 16px/1 'Oswald', sans-serif;
}
.sort-page * {
    box-sizing: border-box;
}
.sort-page_header {
    font-size: 1.2em;
    text-align: center;
}
.sort-page_description {
    padding: 0 8em;
    margin-bottom: 2em;
    color: rgba(0,0,0,0.5);
}
.sort-page_parameters {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 1em 0;
    border-top: 2px solid rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: rgba(237, 237, 237, 0.2);
}
.sort-page_footer {
    align-self: flex-end;
    padding: 3em;
    width: 100%;
    color: #6F6F6F;
    font-size: 1.5em;
    letter-spacing: 2px;
    background: #333;
}

/**
*
* СТИЛИ ДЛЯ УСТАНОВКИ ПАРАМЕТРОВ
*
*/
.sort-parameters {
    padding: 0 2em;
    width: 300px;
}
.sort-parameters--generate {
    border-left: 1px solid rgba(0,0,0,0.1);
}
.sort-parameters--controls {
    margin-top: 1em;
    width: 100%;
}
.sort-parameters_header {
    font-size: 1.1em;
}
.sort-parameters_block {

}
.sort-parameters_group {
    margin-bottom: 15px;
}
.sort-parameters_group label {
    display: block;
    padding-left: 5px;
    margin-bottom: 10px;
    font-weight: 500;
}
.sort-parameters_group input,
.sort-parameters_group textarea {
    padding: 5px 10px;
    height: 35px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 3px;
}
.sort-parameters_group input:focus,
.sort-parameters_group textarea:focus {
    box-shadow: 0 0 3px 0 dimgrey;
    outline: none;
}
.sort-parameters_group textarea {
    height: 100px;
    resize: vertical;
}

/**
*
* ЭЛЕМЕНТЫ УПРАВЛЕНИЯ
*
*/
.btn {
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 3px;
    font-family: inherit;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 1px;
    background-color: #fff;
    cursor: pointer;
}
.btn:focus {
    box-shadow: 0 0 3px 0 dimgrey;
    outline: none;
}
.btn--big {
    height: 80px;
    padding: 0 40px;
}
.btn--medium {
    height: 40px;
    padding: 0 20px;
}
.btn--small {
    height: 30px;
    padding: 0;
}
.btn--set {
    display: block;
    margin: auto;
    color: #fff;
    font-size: 1.2em;
    background-color: #70C1B3;
    border-color: #B2DBBF;
}
.btn--set:focus {
    box-shadow: 0 0 3px 0 #B2DBBF;
}
.btn--generate {
     width: 200px;
     color: #fff;
     background-color: #247BA0;
     border-color: #247BA0;
 }
.btn--generate:focus {
    box-shadow: 0 0 3px 0 #247BA0;
}
.btn--sort {
    text-transform: uppercase;
    background-color: #F3FFBD;
    border-color: #F3FFBD;
}
.btn--sort:focus {
    box-shadow: 0 0 3px 0 #F3FFBD;
}
.btn--pause {
    padding-bottom: 2px;
    width: 30px;
    border-radius: 3px 0 0 3px;
    color: #fff;
    font-size: 1.2em;
    background-color: #B2DBBF;
    border-color: #70C1B3;
}
.btn--resume {
    padding-bottom: 2px;
    width: 30px;
    border-radius: 0 3px 3px 0;
    border-left: none;
    color: #fff;
    font-size: 1.2em;
    background-color: #B2DBBF;
    border-color: #70C1B3;
}
/**
*
* СТИЛИ БЛОКА СОРТИРОВКИ
*
*/
.sort-block {

}
.sort-block ul {
    margin: 0.5em 0;
    padding: 0;
    list-style: none;
}
.sort-block ul li {
    display: inline-block;
    padding-top: 6px;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
}
.sort-block_header {

}
.sort-block_controls {
    margin: 1em auto 0;
}
.sort-block_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 8em;
}
.sort-block_steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 8em;
}
.sort-block_steps li {
    color: rgba(0,0,0,0.5);
}
.sort-block_steps li::after {
    margin-left: 0.5em;
}
.sort-block_steps li.active {
    color: #247BA0;
}
.sort-block_steps li.active::after {
    content: '\0261A';
}
.sort-block_steps li.done {
    color: inherit;
}
.sort-block_steps li.done::after {
    content: '\0262D';
    color: #FF1654;
}

/**
*
* СТИЛИ АНИМИРУЕМОГО ДЕРЕВА
*
*/
.tree {
    position: relative;
    width: 100%;
}
.tree li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/**
*
* ССЫЛКИ
*
*/
.link {
    color: inherit;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.link--info {
    float: right;
}

/**
*
* СТИЛИ ДЛЯ RANGE
*
*/
input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 300px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 #000000;
    background: #247BA0;
    border-radius: 1px;
    border: 0 solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 #000000;
    border: 1px solid #247BA0;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #247BA0;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 #000000;
    background: #247BA0;
    border-radius: 1px;
    border: 0 solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 #000000;
    border: 1px solid #247BA0;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #247BA0;
    border: 0 solid #000000;
    border-radius: 2px;
    box-shadow: 0 0 0 #000000;
}
input[type=range]::-ms-fill-upper {
    background: #247BA0;
    border: 0 solid #000000;
    border-radius: 2px;
    box-shadow: 0 0 0 #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0 0 0 #000000;
    border: 1px solid #247BA0;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #247BA0;
}
input[type=range]:focus::-ms-fill-upper {
    background: #247BA0;
}